

body{
	background-color: black;
    font-family: 'Genos', sans-serif;
    width:100%;
}


h1{
    color: rgb(207, 48, 48);
    font-size: 450% !important;
}

h2{
    color: rgb(207, 48, 48);
    font-size: 350% !important;
}

h3{
    color: rgb(207, 48, 48);
    font-size: 200% !important;
}

p{
    color: rgb(207, 48, 48);
    font-size: 150% !important;
}

li{
    color: rgb(207, 48, 48);
	list-style: circle;
	margin-left: 30px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;